doctype html
html
  head
    title 안전신문고
    link(rel="stylesheet", href="/css/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    header 안전신문고
    block content